.git
.gitignore

node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml

/vendor
composer.lock

/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
/bootstrap/cache/*.php
.env
.env.*

Dockerfile*
.dockerignore

.DS_Store
Thumbs.db
*.swp
.idea
.vscode
